.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #daaa00;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  position: sticky;
  top: 0;
  padding: 0 50vw;
  margin: 0 -50vw;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  max-width: 1200px;
}

h3 {
  box-shadow: 0px 3px 2px #002855;
}

.contents {
  max-width: 1200px;
  width: 100%;
}

.image {
  width: 100%;
  padding: 1rem 0;
}

img {
  width: 100%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
  transition: 0.3s;
}

img:hover {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.image > p {
  text-align: right;
}

body {
  margin: 0 2rem;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
  display: flex;
  justify-content: center;
}

html {
  background-color: #f8eecc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  text-align: justify;
}
