* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.vis-container {
    padding: 2em;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }
  
.node.selected {
  fill: white;
  stroke: rgb(84, 150, 201);
  stroke-width: 5px;
}

  .link {
    fill: none;
    stroke-opacity: .4;
  }
  
  .link:hover {
    stroke-opacity: .7;
  }